<h2>Observation Input</h2>

<h3>New Entry:</h3>

<%= simple_form_for [@sample, @entry] do |form| %>

  <%= form.input :count, type: :integer %>
  <%= form.input :taxa,  type: :text %>

  <% @protocol.each_field do |field| %>
    <%= form.input field.name, label: field.label %>
  <% end %>

  <%= form.button :submit, "Next Entry", class: 'btn-primary' %>

  <%= form.button :submit, "Subsite Complete" %>

<% end %>
